@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  gap: 16px;
  padding: 10px;
}

/* .header .left-links .right-links {

} */

img {
  width: 600px;
}

.image {
  display: flex;
  justify-content: center;
}

.left-links, .right-links {
  display: flex;
  list-style-type: none;
  gap: 16px;
  padding: 0px 20px 0px 20px;
}

a, .left-links .right-links {
  text-decoration: none;
}

.right-links {
  display: flex;
  margin-right: 0px;
  margin-left: auto;
}

.content {
  padding: 10px 0px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 10px 10px;
  background: #eee;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 20px 5px;
  gap: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.footer {
  display: flex;
  background-color: #eeeeee;
  padding: 10px;
}

.footer_end {
  display: flex;
  flex-direction: column;
}

.footer_end .footer {
  flex: 1 1 auto;
}
