.header  {
  display: flex;
  font-family: monospace;
  background: papayawhip;
  margin: 0em;
  padding: 0em;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  justify-content: center;
  align-content: center;
  color: tomato;
  background: white;
  padding: 0.125em 0.7em;
  margin: 0.1625em 0em 0.1625em auto;
}

ul {
  /* this removes the dots on the list items*/
  display: flex;
  /* background-color: black; used this to understand which css selector was working for the lists */
  margin: 1.25em 0em 1.25em 0em;
  padding: 0em;
  list-style-type: none;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 22px;
  background: white;
  padding: 0.3em;
  margin-left: 0.3005em;
  margin-right: 0.3005em;
  /* this removes the line under the links */
  text-decoration: none;
}

div .left-links {
  align-content: center;
}

div .right-links {
  margin-right: 0px;
  margin-left: auto;
  align-content: center;
}